  #gameHeading {
    margin: 0;
    padding: 0;
    font-size: 50px;
  }
  
  .gameHeader {
    margin-top: 10px;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    font-family: 'indie flower';
    color: #00120B;
  }
  
  #gameOver {
    text-align:center;
    font-size: 50px;
    color: red;
    margin: auto;
    margin-top: 0;
    padding: 0;
  }
  
  
  .instructions {
    width: 30%;
    margin: 0px auto;
    font-size: 20px;
  }
  
  .gameContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 900px;
    margin: 2px auto;
    align-items: center;
  }
  
  .gameContainerTock4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 900px;
    margin: 2px auto;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .field4 {
    display:grid;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 4%;
    background-color: #266DD3;
    font-size: 80px;
    padding:0;
    margin:0;
    color: #ffffff;
    font-family: 'indie flower';
    text-align: center;
  }

  .field4 p {
    padding:0;
    margin:0;
  }
  
  .field4:hover {
    background-color: #292F36;
    cursor:pointer;
    color: #fff;
  }
  
  .scoreBoard {
    width: 900px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  .scoreBoard p, h2 {
    display: inline-block; 
  }
  
  #startAgain {
    cursor: pointer;
    flex: 1;
    color: #00120B;
    font-family: 'indie flower';
    font-weight: 900;
    font-size: 28px;
    
  }
  
  #playerOneScore {
    flex: 1;
    font-size: 26px;
    color:green;
  }
  
  #playerTwoScore {
    flex: 1;
    font-size: 26px;
    color:blue;
  }