#gameHeading {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

.gameHeader {
  margin-top: 5px;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  font-family: "indie flower";
  color: #00120b;
}

#gameOver {
  text-align: center;
  font-size: 22px;
  color: red;
  margin: auto;
  margin-top: 0;
  padding: 0;
}

.instructions {
  width: 25%;
  margin: 0px auto;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: left;
}

.instructions li span {
  position: relative;
  left: 25px;
  margin: auto;
}

.gameContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 500px;
  margin: auto;
  align-items: center;
}

.gameContainerTock4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-columns: repeat(4, 200px);
  width: 900px;
  margin: 15px auto;
  align-items: center;
}
.board-wrapper {
  padding: 50px;
  background-color: #000;
  width: 600px;
  height: 300px;
  margin: 2px auto;
  background-image: url("wood.jpg");
  background-size: 100%;
  -webkit-box-shadow: inset -1px 0px 48px -34px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset -1px 0px 48px -34px rgba(0, 0, 0, 1);
  box-shadow: inset -1px 0px 48px -34px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -4px 7px 39px -23px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 7px 39px -23px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 7px 39px -23px rgba(0, 0, 0, 0.75);
}

.field {
  display: grid;
  height: 100px;
  border: 0px solid #fff;
  border-radius: 0%;
  /*background-color: #38828F;*/
  background-color: #266dd3;
  align-items: center;
  font-size: 95px;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-family: "indie flower";
  z-index: 0;
  -webkit-box-shadow: inset -1px 0px 48px -34px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset -1px 0px 48px -34px rgba(0, 0, 0, 1);
  box-shadow: inset -1px 0px 48px -34px rgba(0, 0, 0, 1);
}

.field1 {
  background-color: #439a86;
}

.field2 {
  background-color: #e9d985;
}

.field3 {
  background-color: #007991;
}

.field4 {
  background-color: #3aaed8;
}

.field4 {
  background-color: #ff934f;
}

.field5 {
  background-color: #69747c;
}

.field6 {
  background-color: #f4442e;
}

.field7 {
  background-color: #084887;
}

.field8 {
  background-color: #bac7be;
}

.field:hover {
  /*background-color: #442E39;*/
  /*background-color: #292f36;*/
  cursor: pointer;
  color: #fff;
}

.scoreBoard {
  width: 700px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 0;
  margin-bottom: 0;
}

.scoreBoard p,
h2 {
  display: inline-block;
  margin: 0;
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: 900;
}

#startAgain {
  cursor: pointer;
  flex: 1;
  color: #00120b;
  font-family: "indie flower";
  font-size: 20px;
}

#resetScore {
  cursor: pointer;
  flex: 1;
  color: #00120b;
  font-family: "indie flower";
}

#playerOneScore {
  font-family: "ubuntu condensed";
  flex: 1;
  font-size: 21px;
  color: #2e5339;
}

#playerTwoScore {
  font-family: "ubuntu condensed";
  flex: 1;
  font-size: 21px;
  color: #6c0e23;
}

#toggleAi {
  cursor: pointer;
  flex: 1;
  color: #00120b;
  font-family: "indie flower";
  font-weight: 900;
}

.aIDifficulty {
  height: 35px;
  width: 700px;
  margin: 0px auto;
}

.aIDifficulty p {
  display: inline-block;
  font-family: "indie flower";
  padding: 0px 12px;
  padding-bottom: 0px;
  font-size: 18px;
  margin: 0px 3px;
  cursor: pointer;
}
