#gameHeading {
  margin: 0;
  padding: 0;
  font-size: 40px;
}

.gameHeader {
  margin-top: 10px;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  font-family: "indie flower";
  color: #00120b;
}

#gameOver {
  text-align: center;
  font-size: 40px;
  color: red;
  margin: auto;
  margin-top: 0;
  padding: 0;
}

.instructions {
  width: 30%;
  margin: 0px auto;
  font-size: 16px;
  margin-bottom: 20px;
}

.gameContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 900px;
  margin: 15px auto;
  align-items: center;
}

.gameContainerTock4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 900px;
  margin: 15px auto;
  align-items: center;
}

.field {
  display: grid;
  height: 140px;
  border: 1px solid #fff;
  border-radius: 4%;
  /*background-color: #38828F;*/
  background-color: #266dd3;
  align-items: center;
  font-size: 110px;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-family: "indie flower";
}

.field:hover {
  /*background-color: #442E39;*/
  background-color: #292f36;
  cursor: pointer;
  color: #fff;
}

.scoreBoard {
  width: 900px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 0;
  margin-bottom: 0;
}

.scoreBoard p,
h2 {
  display: inline-block;
  margin: 0;
  margin-bottom: 6px;
}

#startAgain {
  cursor: pointer;
  flex: 1;
  color: #00120b;
  font-family: "indie flower";
  font-weight: 900;
  font-size: 28px;
}

#resetScore {
  cursor: pointer;
  flex: 1;
  color: #00120b;
  font-family: "indie flower";
  font-weight: 900;
  font-size: 28px;
}

#playerOneScore {
  flex: 1;
  font-size: 26px;
  color: #2e5339;
}

#playerTwoScore {
  flex: 1;
  font-size: 26px;
  color: #6c0e23;
}

.toggleAi {
  font-size: 20px;
  padding: 0px;
  cursor: pointer;
  color: green;
}
